#top-navbar {
  display: flex;
  position: fixed;
  justify-content: center;
  top: 0;
  border: 2px solid rgb(255, 99, 99);
  width: 100vw;
  height: 2em;
  z-index: 2;
  margin-bottom: 2em;
}
#navbar-menu {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  /* background-color: aliceblue; */
  /* border: 20px solid green; */
  z-index: 10;
}
.navbar-button {
  color: blue;
  /* font */
}