*, *::before, *::after {
  box-sizing: border-box;
}
.App {
  --nav-height: calc(2em);
  --menu-height: calc(40vh + 3em);
  --button-height: calc((50vh / 7) );
  height: 100vh;
  text-align: center;
  overflow: hidden;
}


